@mixin display-grid {
    display: -ms-grid;
    display: grid;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.bg-classes {
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.card-wrapper {
    width: 100%;
    overflow: hidden;
}

.card-container {
    position: relative;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    width: 100%;
    &:hover {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
}

.card-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    &:hover {
        opacity: 1;
    }
    h1 {
        color: white;
        text-align: center;
    }
    p {
        color: white;
        max-width: 75%;
        text-align: center;
    }
}

.card1 {
    background-image: url('/img/stormtrooper.jpg');

}

.card2 {
    background-image: url('/img/sabreguy.jpg');

}

.card3 {
    background-image: url('/img/girl.jpg');
}